body {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-flow: column;
}

#console {
    width: 100%;
    height: 90%;
    background-color: black;
    display: flex;
    flex-flow: column;
    overflow-y: auto;
    font-family: monospace;
}

hr {
    width: 100%;
}

#console p {
    margin: 5px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.default {
    color: white;
}

.host {
    color: blue;
}

#input {
    width: 100%;
    height: 10%;
    display: flex;
}

#input input {
    width: 100%;
}
