version: "3"
containers:
- name: shell
  image: gcr.io/kots-field-labs/shell
  shell: su - replicant
  memory: 256
virtualmachines:
- name: kubernetes-vm
  image: instruqt/k3s-v1-25-0
  shell: /bin/bash -l
  machine_type: n1-standard-2
  allow_external_ingress:
  - http
  - https
  - high-ports
