version: "3"
containers:
- name: shell
  image: gcr.io/kots-field-labs/shell:main
  shell: su - replicant
  memory: 256
virtualmachines:
- name: kotsadm
  image: instruqt/k3s-v1-25-0
  shell: /bin/bash
  machine_type: n1-standard-2
  allow_external_ingress:
  - http
  - https
  - high-ports
- name: application
  image: instruqt/k3s-v1-25-0
  shell: /bin/bash
  machine_type: n1-standard-2
  allow_external_ingress:
  - http
  - https
  - high-ports
