name: setup-build

on:
  push:
    branches:
      - "**"

jobs:
  build-kots:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/setup-go@v2.1.3
        with:
          go-version: '^1.16.3'

      - name: setup env
        run: |
          echo "GOPATH=$(go env GOPATH)" >> $GITHUB_ENV
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
        shell: bash

      - uses: actions/checkout@v2

      - run: make test
      - run: make install